@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#root {
  font-family: "Inter", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  /* background-color: red; */
}

.sidebar-logo-container {
  height: 15%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.sidebar-title {
  font-size: 18px;
  width: 65%;
}

.sidebar-image img {
  height: 64px;
}

.sidebar {
  width: 45%;
}

.sidebar-button-container {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.button.selected {
  background-color: black;
  color: white;
}

.button {
  background-color: white;
  color: black;
  width: 75%;
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  gap: 1em;
  padding-left: 25px;
}

.button .icon {
  width: 18px;
  height: 18px;
}

.button:hover {
  user-select: none;
  cursor: pointer;
}

.content-container {
  width: 100%;
  background-color: rgb(248, 248, 248);
  padding: 75px;
}

/* CALCULATION PAGE */

.calc-title h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.calc-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc-results-card {
  background-color: white;
  width: 75%;
  height: 75%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 75px 25px;
}

.fuel-types-container {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.fuel-card {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fuel-card:hover {
  user-select: none;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}

.fuel-card.selected {
  background-color: rgb(248, 248, 248);
  border: 2px solid black;
}

.trip-info-container {
  display: flex;
  justify-content: space-between;
  width: 68%;
  margin-top: 25px;
}

.input-container {
  position: relative;
  display: inline-block;
  width: 48%;
}

.input-container input {
  width: 100%;
  padding: 10px;
  padding-right: 75px;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.input-container .unit {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  font-size: 14px;
  pointer-events: none;
}

.results-container {
  background-color: rgb(248, 248, 248);
  width: 75%;
  height: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.results-stext {
  color: rgba(0, 0, 0, 0.6);
}

.required-fuel,
.price-per-litre,
.total-cost {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.price-per-litre {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
