* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
  display: flex;
}

.sidebar-container {
  display: flex;
  width: 25%;
  height: 100vh;
  /* background-color: red; */
}

.sidebar-logo-container {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  user-select: none;
}

.sidebar-title {
  font-size: 20px;
  width: 65%;
}

.sidebar-image img {
  height: 64px;
}

.sidebar {
  width: 45%;
}
